<section id="projects" class="projects-section">
  <div class="projects-content">
    <h2 class="section-title">My Projects</h2>
    
    <div class="projects-gallery">
      <div class="project">
        <img src="assets/img5.png" alt="Project 1" class="project-image">
        <div class="project-info">
          <h3 class="project-title">Project 1: EchoBoard</h3>
          <p class="project-description">A Blog app built with Cordova and JSONBin.</p>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
      
      <div class="project">
        <img src="assets/img7.png" alt="Project 2" class="project-image">
        <div class="project-info">
          <h3 class="project-title">Project 2: Citizens Reporting Solution App</h3>
          <p class="project-description">An innovative mobile app designed to empower citizens to report incidents such as accidents, riots, and emergencies in real-time. The app features geolocation integration, a streamlined reporting interface, and push notifications to ensure timely alerts to all users. Built with a focus on accessibility and usability, it bridges the gap between citizens and authorities for a safer and more responsive community using Cordova, Firebase API's, Tailwind and JSONBin.</p>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
      
      <div class="project">
        <img src="assets/img6.png" alt="Project 3" class="project-image">
        <div class="project-info">
          <h3 class="project-title">Project 3: Shopsphere</h3>
          <p class="project-description">A fully functional e-commerce website built with React, Javascript and Firebase.</p>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
      
      <div class="project">
        <img src="assets/img8.png" alt="Project 4" class="project-image">
        <div class="project-info">
          <h3 class="project-title">Project 4: Chatbot</h3>
          <p class="project-description">An AI-powered chatbot integrated into a website to provide live customer support.</p>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
    </div>
  </div>
</section>
