header, footer {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
  }
  main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }

  nav a.active {
    font-weight: bold;
    color: blue;
  }
  